*{
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-track{
  background-color: gray;
}
::-webkit-scrollbar-thumb{
  background-color: #D8D8D8;
}
body{
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items:  center;
  background-image: linear-gradient(to bottom, #2E5F7E, #E7CA98);
}
header{
  width: 100%;
  height: 70px;
  background-image: linear-gradient(to right, #9CBCB3 , #48BAE9);
  display: flex;
  justify-content: center;
}
.headerContent{
  width: 960px;
  /* border-left: 1px solid black;
  border-right: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nameLogo{
  font-size: 30px;
  display: inline-block;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.linkArea{
  height: 100%;
  display: flex;
  align-items: center;
}
.linkArea li{
  float: left;
  height: 100%;
  font-size: 14px;
  margin-right: 5px;
  list-style: none;
}
.linkArea li a{
  text-decoration: none;
}
.linkArea li a:hover{
  color: red;
}
header .profilePhoto{
  width: 56px;
  height: 80%;
  margin-left: 35px;
  border-radius: 50%;
  border: 1px solid black;
  background-image: url(./asset/profilePhoto.jpeg);
  background-size: 56px 70px;
}
.mainContent{
  width: 960px;
  /* position: absolute;
  left: 50%;
  margin-left: -480px; */
}
.professionDescribe{
  background-color:#D8D8D8;
  height: 160px;
  margin: 10px 0;
  padding: 20px;
}
.professionDescribe span{
  font-size: 30px;
}
.professionDescribe textarea{
  margin-top: 10px;
  border: none;
  background-color:#D8D8D8;
  resize: none;
}
.Introduce{
  display: flex;
}
.skillMaster{
  padding: 10px;
  width: 240px;
  margin-right: 10px;
  background-color:#D8D8D8;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skillMaster h3{
  margin-bottom: 10px;
}
.skillMaster li{
  list-style: none;
  margin: 4px 0;
}
.skillShow{
  display: flex;
}
.skillName{
  text-align: right;
  margin-right: 8px;
}
.show li{
  margin: 4px 0;
  height: 22px;
  background-color: blue;
}
.show1{
  width: 51px;
}
.show2{
  width: 41px;
}
.show3{
  width: 11px;
}
.show4{
  width: 21px;
}
.show5{
  width: 31px;
}
.show6{
  width: 41px;
}
.show7{
  width: 51px;
}
.experienceIntroduce{
  width: 710px;
  background-color:#D8D8D8;
  border: 1px solid black;
}
.experienceIntroduceTab{
  display: flex;
  width: 100%;
  height: 15%;
}
.experienceIntroduceTab div{
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.experienceIntroduceTab .choose{
  border-bottom: none;
}
.experienceIntroduceTab div:nth-last-child(1){
  border-right: none;
}
.experienceIntroduceContent{
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  align-items: flex-start;
  display: none;
}
.experienceIntroduceContent.show{
  display: flex;
}
.experienceIntroduceItem{
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: flex-end;
}
.experienceIntroduceItem span{
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 0 40px;
}
.experienceIntroduce textarea{
  margin-left: auto;
  margin-right: 40px;
  background-color:#D8D8D8;
  border: none;
  resize: none;
}
.projectIntroduceContainer{
  width: 100%;
  padding: 10px;
}
.projectIntroduce{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectIntroduceContent{
  width: 960px;
  display: flex;
  align-items: center;
  background-color: transparent;
}
.projectLogo{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin-right: 40px;
}
.projectLogo img{
  width: 100%;
  height: 100%;
}
.projectIntroduceContent span{
  display: block;
  margin: 10px 0;
}
.projectIntroduceContent textarea{
  resize: none;
  background-color: transparent;
  border: none;
}
.projectIntroduce .projectDemo{
  /* width: 10vw;
  height: 10vh; */
  max-width: 120px;
  max-height: 120px;
  margin-left: 20px;
  flex: 1;
  border: 1px solid black;
}
.projectIntroduce .projectDemo.fill{
  visibility: hidden;
}
.projectDemo img{
  height: 100%;
  width: 100%;
}
.interact{
  width: 960px;
  height: 370px;
}
.personInfo{
  display: inline-block;
  width: 630px;
}
.personInfo div{
  display: inline-block;
  margin-bottom: 10px;
  width: 150px;
  height: 168px;
  border: 1px solid black;
  position: relative;
}
.personInfo1{
  background-image: url("./asset/personInfoImg/Info1.png");
  background-size: 150px 168px;
}
.personInfo2{
  background-image: url("./asset/personInfoImg/Info2.png");
  background-size: 150px 168px;
}
.personInfo3{
  background-image: url("./asset/personInfoImg/Info3.png");
  background-size: 150px 168px;
}
.personInfo4{
  background-image: url("./asset/personInfoImg/Info4.png");
  background-size: 150px 168px;
}
.personInfo5{
  background-image: url("./asset/personInfoImg/Info5.png");
  background-size: 150px 168px;
}
.personInfo6{
  background-image: url("./asset/personInfoImg/Info6.png");
  background-size: 150px 168px;
}
.personInfo7{
  background-image: url("./asset/personInfoImg/Info7.png");
  background-size: 150px 168px;
}
.personInfo8{
  background-image: url("./asset/personInfoImg/Info8.png");
  background-size: 150px 168px;
}
.personInfo span{
  position: absolute;
  left: 10px;
  bottom: 2px;
  color: red;
}
.personInfo button{
  position: absolute;
  bottom: 2px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid black;
}
.messageBoard{
  width: 320px;
  height: 370px;
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.textView{
  width: 90%;
  height: 70%;
  border: 1px dashed black;
  overflow: auto;
}
.textView .user{
  width: 100%;
  height: 30%;
  display: flex;
  margin-bottom: 20px;
}
.user .profilePhoto{
  width: 55px;
  height: 75%;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url("./asset/messageBoard/mB1.png");
  background-size: 55px 55px;
}
.user .profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.user .content{
  width: 80%;
  border: 1px solid black;
}
.textView .me{
  width: 100%;
  height: 30%;
  display: flex;
  margin-bottom: 20px;
}
.me .profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}
.me .profilePhoto{
  width: 55px;
  height: 75%;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url("./asset/messageBoard/mB2.png");
  background-size: 55px 55px;
}
.me .content{
  width: 80%;
  border: 1px solid black;
}
.textView span{
  display: inline-block ;
  width: 55px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}
.editView{
  margin-top: 10px;
  width: 90%;
  height: 17%;
}
.editView .edit1{
  height: 40%;
  margin-bottom: 10px;
  border: 1px solid black;
}
input{
  box-sizing: border-box;
  border: none;
  background-color: transparent;
}
.edit1 input{
  width: 100%;
  height: 100%;
}
.editView .edit2{
  height: 40%;
  display: flex;
}
.edit2 .content{
  width: 60%;
  border: 1px solid black;
  margin-right: 10px;
}
.content input{
  width: 100%;
  height: 100%;
}
.edit2 .send{
  text-align: center;
  line-height: 130%;
  width: 40%;
  border: 1px solid black;
}
.send button{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}
button:hover{
  background-color: #6F8587;
  transition: background-color 0.15s linear;
}
footer{
  text-align: center;
  width: 100%;
  height: 200px;
}